body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.8em;
    text-align: center;
}

.video-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 100px;
    /* 영상 간의 간격을 넓게 설정 */
}

.horizontal-video-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    align-items: stretch;
    /* 두 비디오의 높이를 동일하게 맞춤 */
}

.group-title {
    text-align: left;
    margin-bottom: 5px;
    /* 그룹 제목과 비디오 사이 간격 최소화 */
    font-weight: bold;
}

.video-container {
    text-align: left;
    flex: 1;
    /* 컨테이너를 동일한 비율로 확장 */
    display: flex;
    flex-direction: column;
}


h2 {
    margin-bottom: 5px;
    /* 제목과 비디오 간의 간격을 최소화 */
    margin-top: 0;
    /* 제목과 위 요소 간 간격 제거 */
    font-weight: bold;
    font-style: italic;
}

.video-link {
    font-size: 0.8em;
    color: black;
    margin-top: 10px;
    /* 제목과 비디오 간 간격 최소화 */
}

.video-link a {
    color: black;
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
}