body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* 수직 중앙 정렬 */
    min-height: 100vh;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

h1 {
    margin: 0;
}

.video-gallery {
    display: flex;
    flex-direction: column;
    /* 비디오들을 수직으로 배치 */
    align-items: center;
    /* 수평 중앙 정렬 */
    padding: 20px;
    gap: 30px;
    /* 비디오와 제목 간격 조정 */
}

.video-container {
    text-align: center;
}

video {
    width: 600px;
    height: auto;
    border: 2px solid #333;
}

h2 {
    margin: 5px 0;
    /* 제목과 비디오 사이 간격 조정 */
}

.video-link {
    font-size: 0.8em;
    /* 문구 크기 조정 */
    color: black;
    /* 글씨 색상 설정 */
    margin-top: 5px;
    /* 제목과 링크 사이 간격 조정 */
}

.video-link a {
    color: black;
    /* 링크 색상 설정 */
    text-decoration: underline;
    /* 링크에 밑줄 추가 */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    /* 푸터를 페이지 하단으로 이동 */
    width: 100%;
}